header {
  position: relative;
  width: 100%;
  height: 50vh;
  background: linear-gradient(135deg, rgba(29,185,84,1) 0%, rgba(30,215,96,1) 100%);
  transition: all .6s ease-in-out;
  transition-timing-function: cubic-bezier(.17,.67,.51,1.18);
}

header.show {
  height: 30vh;
}

header .content {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

header p {
  font-size: 1.9em;
}

.search {
  width: 850px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delay {
  animation-delay: .4s;
}

.search input {
  width: 90%;
  background-color: #2E2E2E;
  padding: 20px 30px;
  border: none;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, .1);
  outline: none;
  transition: all .3s ease-in-out;
  transition-timing-function: cubic-bezier(.17,.67,.51,1.18);
  color: #8d8d8d;
}
.search input:focus {
  padding: 25px 40px;
  width: 100%;
}

.search-loading {
  text-align: center;
  margin-top: 70px;
  transition: all .2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.search-loading.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .search {
    width: 80%;
  }
  .search input {
    font-size: 1.6em;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  header p {
    font-size: 1.6em;
  }
  .search {
    width: 90%;
  }
  .search input {
    font-size: 1.3em;
  }
}
